boto3
fastapi
langgraph
PyMuPDF
PyMySQL
python-docx
python-dotenv
pydantic-settings
requests
SQLAlchemy
uvicorn[standard]
docx2txt
pdfplumber
pdf2image
pytesseract
easyocr
langchain-core
langchain-community
openai
ollama
